p:nth-child(1) {
    font-weight: normal;
}

p:nth-child(2) {
    font-weight: bold;
}

p:nth-child(3) {
    font-weight: bolder;
}

p:nth-child(4) {
    font-weight: lighter;
}

p:nth-child(5) {
    font-weight: 400;
}

p:nth-child(6) {
    font-weight: initial;
}

p:nth-child(7) {
    font-weight: inherit;
}